.navbar-brand img {
    width: 50px;
}
#main-title{
    text-align: center;
    margin: 15px 0 30px;
}

#contacts-table{
    max-width: 800px;
    margin: 0 auto;
}
#contacts-table thead{
    color: #fff;
    background-color: blue;
}
#empty-list-text{
    text-align: center;
}
#msg{
    color: green;
    background-color: lightgray;
    border: 1px solid gray;
    padding: 10px;
    text-align: center;
    max-width: 500px;
}
